{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>Sign In-Excogitation</title>
{% endblock %}

{% block content %}

   
    <h1></h1>

    

    <form action="{{ url_for('login') }}", method="POST">
        <div class="login-wrap">
            <div class="login-html" style="background-color: #212529;">
                <input id="tab-1" type="radio" name="tab" class="sign-up" checked><label for="tab-1" class="tab" style="border-color:#fec810;">Sign In</label>
                <div class="login-form" style="background-color: #212529;">

                    <div class="sign-up-htm">
                        {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
                        {{ displayField(form.password, 'Password') }}
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon" style="background-color: #fec810;"></span> Keep me Signed in</label>
                        </div>

                        <div class="btn btn-primary text-uppercase " style="
                        border-radius:35px; width: 100%; ">
                            {{ form.submit_button(class_='btn btn-primary text-uppercase', style="color:black; padding:0.7rem; width: 100%; display:block;") }}

                        </div>
                        
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="./signup">Don't have an account?</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        {{ form.csrf_token }}
    </form>
    
{% endblock %}